* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.mobile{
display: none;
}

/* .desktop{
display: flex;
} */

body {
font-family: Arial, sans-serif;
background-color: #f0f0f0;
color: #333;
line-height: 1.6;
font-size: 18px;
padding: 2vw;
max-width: 1800px;
}

header {
color: white;
background-color: #488991;
height: 30vh;
font-size: 150%;
display: flex;
align-items: center;
padding: 2vh;
right: 2vw;
}

#logo{
height: 100%;
margin-right: 4vw;
}

h1 {
flex-grow: 1; 
font-family:'Times New Roman', Times, serif;
margin: 0;
padding: 0;
}

#contents {
position: relative;
z-index: 1000;
height: auto;
width: auto;
flex-direction: row;
background-color: #409ba7;
}

.rightContents{
position: fixed;
}


#contents button {
background-color: #409ba7;
width: auto;
color: white;
padding: 1vw;
font-size: 120%;
text-align: center;
border: none;
cursor: pointer;
}

#contents button:hover{
background-color: #E6E7D1;
color:black;
}

.container {
display: flex;
justify-content: space-between; 
gap: 0px; 
height: 100%;
}

.left {
position: relative;
width: 60%; 
height: 100%;
background-color: #f0f0f0;
text-align: justify;
}

section {
margin: 20px 0;
}

.bullet-list {
margin-left: 40px; /* Indent the entire list */
padding-left: 20px; /* Add space between bullet and text */
list-style-type: disc; /* Bullet style (disc, circle, square) */
}

.googleForm{
width: 100%;
height: 2000px;  
border: none;
}

.right {
width: 40%;
padding: 2vw;
background-color: #f0f0f0;
}

.image-grid {
display: grid;
grid-template-columns: repeat(1, 1fr); 
grid-gap: 10px; 
}

.image-grid img {
width: 100%; 
height: auto; 
border-radius: 5px; 
object-fit: cover; 
}

.googleMap{
width: 100%;
height: 400px; 
border: none;
}

.box img {
max-width: 100%; 
max-height: 100%; 
}

footer {
margin-top: 20px;
text-align: center;
padding: 10px 0;
background-color: #333;
color: white;
}
